:root {
  --gridRows: 1;
  --gridCols: 1;
}

#buttonWrap {
  text-align: center;
}

#gridSizeInput {
  margin: 12px 0px 15px 0px;
}

#gridSizeButton {
  margin-bottom: 15px;
  border-radius: 0px;
} 

#gridSizeButton:hover {
  color: red;
  text-shadow: 2px 2px red;
}

#wrapperDiv {
  display: grid;
  height: 80vh;
  width: 80vh;
  margin: auto;
  grid-template-rows: repeat(var(--gridRows), 1fr);
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

#wrapperDiv > div {


}

.gridSquare {
  
}