:root {
  --gridRows: 1;
  --gridCols: 1;
}

#buttonWrap {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}



#gridSizeInput {
  margin: 12px 0px 15px 0px;
}

#gridSizeButton {
  background-color: skyblue;
  color: black;
  padding: 12px 26px;
  margin-bottom: 15px;
  border: none;
} 

#gridSizeButton:hover {
  color: white;
  
  
}

#wrapperDiv {
  display: grid;
  height: 80vh;
  width: 80vh;
  margin: auto;
  grid-template-rows: repeat(var(--gridRows), 1fr);
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

.colorSquare {
  background-color: black;
}
